
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer h3 {
    margin-left: 1em;
}

.result-container {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
#result {
    padding: 0;
    font-size: 2em;
    text-align: center;
}

.hide {
    display: none;
  }

.difficulty-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
  
.space-around {
    justify-content: space-around;  
}

#game-window {
    display: flex;
    justify-content: center;

    height: 100%;
    /* height: 130%; */
}

#grid {
    background-color: black;

    /* display: flex; */
    align-content: space-evenly;
    justify-content: space-evenly;

    padding: 1em;

    width: 60%;
    height: 50%;
}

#grid.med {
    height: 60%;
}

#grid.lar {

    height: 70%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    /* z-index: 2; */
}

.card {
    border: 3px solid red;
    background-color: bisque;

    margin-top: 1.5em;

    height: 90px;
    width: 145px;

    transition: 0.5s;
    z-index: 2;
}

.card:hover {
    background-color: rgb(136, 122, 106);
}

/* Images */
/* Need 6 */

.condiments {
    background-image: url("./imgs/condiments.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.temaki {
    background-image: url("./imgs/temaki.png");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: 6em;
}

.nigiri {
    background-image: url("./imgs/nigiri.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.miso {
    background-image: url("./imgs/miso.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.ikura {
    background-image: url("./imgs/ikura.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.sashimi {
    background-image: url("./imgs/sashimi.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.card2{
    height: 0px;
}

.hide-image {

    background-image: none;

}

#credit {
    margin-top: 0em;
    display: flex;
    justify-content: center;
}



