* {
    margin: 0;
}

body {
    background-color: rgb(59, 160, 238);

    height: 50em;

}

.title {
    /* background-color: rgb(51, 116, 246); */
    background-image: linear-gradient(rgb(13, 85, 231), rgb(59, 160, 238));

    margin: 0;

    text-align: center;
    padding: 0.25em;

    font-size: 6em;

    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.timer {
    display: grid;
    align-items: center;
    justify-content: center;
}

.start-section {
    display: grid;
    align-items: center;
    justify-content: center;
}

#start-button {
    padding: 5px 50px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);

    text-decoration: none;
    color: white;
    font-size: 30px;

    background-color: #48a543;
    border: 1px solid #31702d;
    border-radius: 10px;

    text-align: center;
    /* width: 50%; */

    font-family: "Teko", sans-serif;
    transition: 0.5s;
}

#start-button:hover {
    background-color: #31702d;
}

#start-button.stop {
    background-color: #a54343;
    border: 1px solid #702d2d;
}

#start-button.stop:hover {
    background-color: #702d2d;
}

.space-around {
    display: flex;
    justify-content: space-around;  
  
    flex-wrap: wrap;
    gap: 10px;
}

.difficulty-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.diff-btn {
    padding: 5px 50px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);

    text-decoration: none;
    color: white;
    font-size: 30px;

    background-color: #4365a5;
    border: 1px solid #2d4770;
    border-radius: 10px;

    text-align: center;
    /* width: 50%; */

    font-family: "Teko", sans-serif;
    transition: 0.5s;
}

.diff-btn:hover {
    background-color: #2d4770;

}

.diff-clicked {
    background-color: #2d4770;
}

.timer > h3 {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    text-align: center;
}

#seconds-elapsed {
    font-family: "Teko", sans-serif;
}

#whole-nav {
    display: flex;
}

.reveal-nav-container {
    display: flex;
    align-items: center;

    z-index: 5;
}

#reveal-nav {
    height: 5px;
    width: 20px;
    background-color: rgb(197, 83, 83);
    padding: 20px 10px;

    margin-top: 25em;
    margin-left: 12.5em;

    display: flex;
    align-items: center;

    text-align: center;
    font-size: 1em;

    padding-left: 5px;

    border: 2px solid black;
    border-left: none;

    position: fixed;
    transition-duration: 1s;
    left: 0;

}

#reveal-nav:hover{
    background-color: rgb(140, 61, 61);
}

#reveal-nav.hide{
    left: -13em;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 25em;

    border-top: 5px solid orange;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(239, 184, 81);

    transition-duration: 1s;
    left: 0;

    position: fixed;

    z-index: 4;
}

#nav-bar.hide {
    left: -13em;
}

li {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: none;

    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    transition: .5s;
}

li:hover{
    background-color: rgb(195, 133, 20);
}

#big-line {
    border-top: 2px solid black;
    margin: 0px 25px;
}

.small-line {
    border-top: 1px solid black;
    margin: 0px 50px;
}

.game-selection-container {
    padding: 0 10em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.game-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #00000022;
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

.game {
    padding: 10px;
    width: 40%;
    transition-duration: 1s;

    border: 5px solid black;

    margin-top: 1em;
    margin-bottom: 1em;

    /* background-color: #7df6cc87; */
}

.game-title {
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 1em;
}

.game-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.game-description {

    text-align: center;
    
}

.game-intro {
    text-align: center;
    padding: 0 8em;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 2em;
}

.control-title {

    font-size: 2em;

}

.controls {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Anton", sans-serif;
}

.game:hover{
    background-color: rgba(0, 0, 0, 0.750);
    color: white;
}

.smaller-picture {
    height: 10em;
    width: 10em;
    justify-self: center;

}

footer {
    text-align: center;
    position: relative;

    margin-top: 12em;
    bottom: 0;
    width: 100%;

    color: white;
    background-color: black;
    z-index: -1;
}

.desc {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10em;

    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
}

.bigger-picture {
    height: 15em;
    width: 15em;
    justify-self: center;
    border-radius: 10px;
}

.about-me {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7em;
    padding-bottom: 7em;
}

.left-half {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.right-half {
    width: 50%;
    align-content: center;
}

.box-paragraph {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 4em;
}

@media only screen and (max-width: 500px) {

    .title {
        font-size: 70px;
    }

    .game-selection-container {
        padding: 0 1em;
    }

    .smaller-picture {
        height: 3.5em;
        width: 3.5em;
    }

    .bigger-picture {
        height: 6em;
        width: 6em;
    }

    p {
        font-size: 15px;
    }

    .game-intro {
        padding: 0 1em;
        font-size: 20px;
    }
    
    .box-paragraph {
        font-size: 15px;
        padding: 0;
    }

    .desc {
        padding: 0 1em;
    }
}