* {
    margin: 0;
}

body {
    background-color: rgb(59, 160, 238);

}

.title {
    /* background-color: rgb(51, 116, 246); */
    background-image: linear-gradient(rgb(13, 85, 231), rgb(59, 160, 238));

    margin: 0;

    text-align: center;
    padding: 0.25em;

    font-size: 6em;

    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

#whole-nav {
    display: flex;
}

.reveal-nav-container {
    display: flex;
    align-items: center;

    z-index: 2;
}

#reveal-nav {
    height: 5px;
    width: 20px;
    background-color: rgb(197, 83, 83);
    padding: 20px 10px;

    margin-top: 25em;
    margin-left: 12.5em;

    display: flex;
    align-items: center;

    text-align: center;
    font-size: 1em;

    padding-left: 5px;

    border: 2px solid black;
    border-left: none;

    position: fixed;
    transition-duration: 1s;
    left: 0;

}

#reveal-nav:hover{
    background-color: rgb(140, 61, 61);
}

#reveal-nav.hide{
    /* transition-duration: 1s; */
    left: -13em;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 25em;

    border-top: 5px solid orange;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(239, 184, 81);

    transition-duration: 1s;
    left: 0;

    position: fixed;
}

#nav-bar.hide {
    left: -13em;
}

li {
    text-align: center;
    display: block;
    color: #000;
    /* padding: 8px 16px; */
    text-decoration: none;

    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    transition: .5s;
}

li:hover{
    background-color: rgb(195, 133, 20);
}

#big-line {
    border-top: 2px solid black;
    margin: 0px 25px;
}

.small-line {
    border-top: 1px solid black;
    margin: 0px 50px;
}

.game-selection-container {
    padding: 0 10em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.game-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgb(255, 127, 148);

    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

.game {
    padding: 10px;
    width: 40%;
    transition-duration: 1s;
}

.game-title {
    text-align: center;
}

.game-img {
    display: flex;
    justify-content: center;
}

.game:hover{
    background-color: rgba(0, 0, 0, 0.50);
}

.smaller-picture {
    height: 10em;
    width: 10em;
    justify-self: center;

}

footer {
    text-align: center;

    margin-top: 3em;
    bottom: 0;
    width: 100%;
    height: 1.5em; 

    color: white;
    background-color: black;
}

/* .test{
    margin-top: 500em;
    height: 50em;
    background-color: blueviolet;
    text-align: center;
} */