
.result-container {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
#result {
    padding: 0;
    font-size: 2em;
    text-align: center;
}

.canvas-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;

}

#game-window{
    background-color: #aae0fb;

}